pages/*/*.png filter=lfs diff=lfs merge=lfs -text
x90002_results/** filter=lfs diff=lfs merge=lfs -text
x90001_results/** filter=lfs diff=lfs merge=lfs -text
m00009_results/** filter=lfs diff=lfs merge=lfs -text
data/x90001_results/candidate_ko.tsv filter=lfs diff=lfs merge=lfs -text
data/x90001_results/* filter=lfs diff=lfs merge=lfs -text
data/x90002_results/* filter=lfs diff=lfs merge=lfs -text
data/m00009_results/* filter=lfs diff=lfs merge=lfs -text
data/m00009_results/detected/*.tsv filter=lfs diff=lfs merge=lfs -text
data/x90001_results/detected/*.tsv filter=lfs diff=lfs merge=lfs -text
data/x90002_results/detected/*.tsv filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
